.group {
    position: relative;
    align-content: stretch;

    input {
        width: 100%;
        flex: 1 0 auto;
    }

    span {
        position: absolute;
        top: 2px;
        bottom: 2px;
        right: 10px;
        font-size: 20px;
    }
}

.w-1{
    width: 1% !important;
}

.w-2 {
    width: 2% !important;
}

.w-4 {
    width: 4% !important;
}

.w-5 {
    width: 5% !important;
}

.w-6 {
    width: 6% !important;
}

.w-10{
    width: 10% !important;
}

.h-5 {
    width: 5% !important;
}

.lh-lg{
    line-height: 2rem;
}

.width-min-content {
    width: min-content;
}